{% extends 'PrunaticWebBundle::base.html.twig' %}

{% block headline %}{{ shout.message }}{% endblock headline %}

{% block navbar %}{% endblock navbar %}

{% block content %}
    <div class="span12">
        <div class="row-fluid">
            <div class="span7">
                <div class="row-fluid">
                    <img src="{{ asset(shout.image) | default('http://placehold.it/700x525') }}" alt="{{ shout.message }}">
                </div>
                <div class="row-fluid">
                    <ul class="inline paddingTop3">
                        <li class="span6 text-left"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="ca" data-hashtags="critpercatalunya">Tuiteja</a></li>
                        <li class="span6 text-right">
                            {% if shout.totalVotes > 0 %}
                                {% set titleVoteAnchor = "%s persones han recolçat aquest crit. M'agrada!" | format(shout.totalVotes) %}
                            {% else %}
                                {% set titleVoteAnchor = "Sigues el primer en recolçar aquest crit. M'agrada!" %}
                            {% endif %}
                            <a href="{{ path('prunatic_shout_vote', {'id' : shout.id}) }}" title="{{ titleVoteAnchor }}"><i class="icon-thumbs-up"></i> M'agrada</a>
                        </li>
                    </ul>
                    <ul class="inline">
                        <li class="span6 text-left"><div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="450" data-layout="button_count" data-show-faces="false" data-send="true"></div></li>
                        <li class="span6 text-right"><a href="{{ path('prunatic_shout_report', {'id' : shout.id}) }}" title="Vull reportar aquest crit per ofensiu o altres motius. Reporta'l"><i class="icon-flag"></i> Reporta el crit</a></li>
                    </ul>
                </div>
                <div class="row-fluid">
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <div class="span5">
                <div class="row-fluid">
                    <div class="span6">
                        <p class="author">Per: {{ shout.author }}</p>
                        <p class="city">Població: {{ shout.city | default('Mataró') }}</p>
                        <p class="province">Província: {{ shout.province | default('Barcelona') }}</p>
                        <p class="country">País: {{ shout.country | default('Catalunya') }}</p>
                    </div>
                    <div class="span6">
                        {% render url('prunatic_shout_show_map', {'id': shout.id}) %}
                    </div>
                </div>
                <div class="row-fluid">
                    {# Publi or whatever #}
                </div>
                <div class="row-fluid">
                    {% render url('prunatic_shout_nearby', {'id': shout.id}) %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_script_additional %}
    {# see https://developers.facebook.com/docs/reference/plugins/like/ #}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=562436120485263";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    {# see https://twitter.com/about/resources/buttons#tweet #}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    {# see Disqus #}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'elmeucrit'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock foot_script_additional %}