{% extends 'MopaBootstrapBundle::layout.html.twig' %}

{% block title %}El meu crit per la independència!{% endblock %}

{% block head_style %}
    {% stylesheets filter='less,?cssrewrite,?yui_css'
        '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        '@MopaBootstrapBundle/Resources/public/less/eyecon-bootstrap-datepicker.less'
        '@PrunaticWebBundle/Resources/public/less/main.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}

    {% javascripts filter='?yui_js'
    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
    '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    '@MopaBootstrapBundle/Resources/public/js/eyecon-bootstrap-datepicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts filter='?yui_js'
    '@PrunaticWebBundle/Resources/public/js/holder.js'
    '@PrunaticWebBundle/Resources/public/js/application.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script %}

{% block foot_script_additional %}
    {# see https://developers.facebook.com/docs/reference/plugins/like/ #}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=562436120485263";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    {# see https://twitter.com/about/resources/buttons#tweet #}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    {# see Disqus #}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'elmeucrit'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock foot_script_additional %}

{% block footer %}
    <hr>
    <p class="text-right"><a href="{{ path('prunatic_web_faq') }}">Preguntes més freqüents</a> | <a href="{{ path('prunatic_web_legal') }}">Avís legal</a> | &copy; <a href="http://www.prunatic.com" target="_blank">Prunatic</a> {{ "now" | date("Y") }}</p>
{% endblock footer %}